.nav-li-hov:hover{
color:black
}
.nav-li{
    padding: 0 10px;
}
.rooms{
    display: grid;
    grid-template-columns: 548px 548px;
    grid-template-rows: 319px 319px;
    gap: 24px;
}
.rooms:first-child{
    grid-column: 1/2;
    grid-row:1/3 ;
   
}
.kitchen{
    grid-column: 2/3;
    grid-row:2/3 ;
   
}
.img{
 background-image: url('./img/Paste image(8).png');
}
.btn{
    margin: 0 auto;
}
.freeship{
    display: grid;
    grid-template-columns: 152px 152px;
    grid-template-rows: 198px 198px;
    gap:20px
}
.freeship>div>h6{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.freeship>div>p{
    color:#6c7275
}
.imageBg{
    background-image: url("./assets/img/Paste\ image.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     height: 360px;
     
}
/* .accessBg{
    
    background-image: url("./assets/accessories/Image\ Placeholder.svg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 820px;
    
}  */
.bgSmall{
    background-image: url("./assets/accessories/Paste\ image\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 692px;
}
.scroll-wrapper{

}
.scroll-container{
display: flex;
gap: 20px;
overflow-x: scroll;
}
.scroll-item{
    display: flex;
    gap: 20px;
   
}
.scroll-container::-webkit-scrollbar{
    display: none;
}
.logo-holder{
    display: flex;
    overflow-x: scroll; 
}
.logo-holder::-webkit-scrollbar{
    display: none;
}

